body {
  font-family: "Anek Malayalam", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background: #742a2a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.tab {
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #d0d0d0;
  font-size: 15px;
  font-weight: 600;
}

.tab.active {
  background: gray;
  color: white;
}

.ballot-box {
  background: #ffffff;
  width: 650px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 50px rgb(27, 27, 27);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.dot {
  height: 10px;
  width: 10px;
  background: green;
  border-radius: 50%;
  display: inline-block;
}

.dot-light {
  background: #2bff00;
  box-shadow: 0 0 8px #2bff00, 0 0 16px #2bff00, 0 0 24px #2bff00,
    0 0 38px #2bff00;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
}

.logo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.num {
  width: 30px;
  text-align: center;
  font-weight: 600;
}

.candidate {
  font-size: 18px;
}

.light {
  height: 18px;
  width: 18px;
  background: #7c1414;
  border-radius: 50%;
  margin: auto;
}

.light-on {
  background: #ff0000;
  box-shadow: 0 0 8px #ff0000, 0 0 16px #ff0000, 0 0 24px #ff0000,
    0 0 38px #ff0000;
}

.vote-btn {
  height: 40px;
  width: 70px;
  background: #083b73;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.vote-btn:active {
  transform: scale(0.95);
}

@media screen and (max-width: 700px) {
  .ballot-box {
    width: 90%;
  }
  .top-bar span {
    font-size: 8px;
  }
  .vote-btn {
    height: 30px;
    width: 60px;
  }
  .light {
    height: 12px;
    width: 12px;
  }
  .vijayan {
    font-size: 10px;
    text-align: start;
  }
  .logo {
    height: 20px;
    width: 20px;
  }
  .candidate {
    padding: 5px;
  }
  body {
    padding: 10px;
  }
}

/*------------------------------------------------*/

.show-vikasanam {
  display: none;
}

.vikasanam {
  position: fixed;
  top: 300px;
  text-align: center;
  padding: 0 20px 0 20px;
  opacity: 0;
  display: block;
  animation: fadeInText 1s 1.5s forwards;
}
.vikasanam h2 {
  font-size: medium;
  color: #fc0202;
}
.vikasanam h2 span {
  font-size: large;
}

.vikasanam p {
  font-size: smaller;
}
.vikasanam a {
  background-color: red;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
  color: white;
  text-decoration: none;
}

.confirm {
  display: flex;
  top: 0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.37);
  animation: fadeIn 0.5s forwards;
}

/* Container for centering */
.confirmation {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4caf50; /* green background */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: scale(0);
  animation: pop 0.5s forwards, goUp 1s 1s forwards; /* pop effect */
}

/* Tick mark */
.checkmark {
  width: 12px;
  height: 6px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  transform: rotate(-45deg) scale(0);
  animation: tick 0.5s 0.5s forwards; /* delay to appear after pop */
}

/* Pop animation */
@keyframes pop {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Tick animation */
@keyframes tick {
  0% {
    transform: rotate(-45deg) scale(0);
  }
  100% {
    transform: rotate(-45deg) scale(1);
  }
}

@keyframes fadeIn {
  0% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(8px);
  }
}

@keyframes goUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

@keyframes fadeInText {
  0% {
    z-index: 2;
    opacity: 0;
  }
  100% {
    z-index: 2;
    opacity: 100%;
  }
}

@media screen and (max-width: 400px) {
  .vikasanam {
    top: 350px;
  }
}
